version: '3.8'

services:
  backend:
    build: ./Backend
    container_name: flask-backend
    ports:
      - "8000:8000"
    networks:
      - app-network

  frontend:
    build: ./Frontend
    container_name: express-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
